:root {
    --hero-section-width: 45%;
    --hero-section-top: 8%;
    --hero-section-left: 12%;
    --hero-section-buttons-color: #004e89;
}

/* 
Use properties to set the gradient colors. This way, we can easily
change the colors on hover to update the gradient
*/
@property --bg-gradient-from {
    syntax: '<color>';
    initial-value: #004e89;
    inherits: false;
}
  
@property --bg-gradient-to {
    syntax: '<color>';
    initial-value: #004e89;
    inherits: false;
}

/*
If we have a smaller screen, use the hover effect by default (blue --> purple gradient)
*/
@media screen and (max-width: 1280px) {
    @property --bg-gradient-from {
        syntax: '<color>';
        initial-value: theme(colors.sky.500);
        inherits: false;
    }

    @property --bg-gradient-to {
        syntax: '<color>';
        initial-value: theme(colors.purple.600);
        inherits: false;
    }
}

/* Shorthand for the blue --> purple gradient */
.gradient-bp {
    @apply from-sky-400 to-purple-600;
}

/* Gradient hover animation transition */
.gradient-animation,
.gradient-animation h2 {
    transition: --bg-gradient-from 0.25s, --bg-gradient-to 0.25s, --bg-gradient-deg 1s;
}

/* Update the gradient on hover */
.gradient-animation:hover,
.gradient-animation:hover h2 {
    --bg-gradient-from: theme(colors.sky.500);
    --bg-gradient-to: theme(colors.purple.600);
}

@media screen and (max-width: 1280px) {
    .gradient-animation,
    .gradient-animation h2 {
        transition: --bg-gradient-from 0.25s, --bg-gradient-to 0.25s, --bg-gradient-deg 1s;
    }

    .gradient-animation:hover,
    .gradient-animation:hover h2 {
        --bg-gradient-from: #004e89;
        --bg-gradient-to: #004e89;
    }
}

.blinking-caret {
    border-right: 0.1em solid white;
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}